@media screen and (max-width: 1920px){
	

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	.kaktuz{
		.mbox{
			header{
				h2{font-size: 38px;}
			}
			.kaktuz-form{padding-top: 320px;
				.mbox{
					.portal-form-wrap{
						.item{
							.portal-form-wrap{ margin: 0 auto;
								
							}
						}
					}
				}
			}
			.image-wrapper{width: 100px; margin: 0 auto;position: relative;
				img{ top: -770px; left: -260px; max-width: 626px; max-height: 458px;}
			}
		}	
	}
	
}
@media screen and (max-width: 767px){
	.icon-list{
		.mbox{
			.list-wrapper{display: none;}
			.list-wrapper-768{display: block;
				table{
					tr{
						td{
							&:first-child{text-align: center;padding: 0px 0 15px 0px;}
							&:last-child{padding: 10px 0 17px 15px; font-size: 19px;
								span{font-family: 'Avantgarde';}
							}
						}
					}
				}
			}
			&>span{display: block; min-width: 100%; font-size: 16px; text-align: center;}
		
		}
	}

	.kaktuz{
		.mbox{
			
			.image-wrapper{width: 100px; margin: 0 auto;position: relative;
				img{ top: -750px; left: -260px; max-width: 626px; max-height: 458px;}
			}
		}	
	}

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
	.icon-list{
		.mbox{padding: 60px 0px 0px 15px;
			.list-wrapper{display: none;
			}
			.list-wrapper-768{display: block;
				table{
					tr{
						td{
							&:first-child{text-align: center; padding: 0px 0 15px 0px;
								img{max-width:34px; max-height:34px;
									
								}
							}
							&:last-child{padding: 7px 0 13px 15px; font-size: 14px;
								span{font-family: 'Avantgarde';}
							}
						}
					}
				}
			}
			&>span{display: block; min-width: 100%; font-size: 14px; text-align: center;}
			.low-text-conteiner{padding: 20px 0px 30px 0px; 
				p{font-size: 21px; line-height: 1.3;}
			}
		}
	}

	.kaktuz{
		.mbox{
			header{
				h2{font-size: 38px;}
			}
			.kaktuz-form{padding-top: 320px;
				.mbox{padding:0px;
					.portal-form-wrap{padding-left:0px; 
						.item{
							.portal-form-wrap{ margin: 0 auto; padding-left:0px; 
								
							}
						}
					}
				}
			}
			.image-wrapper{width: 100px; margin: 0 auto;position: relative;
				img{ top: -750px; left: -320px; max-width: 626px; max-height: 458px;}
			}
		}	
	}
}
@media screen and (max-width: 320px){
	.kaktuz{
		.mbox{
			header{
				h2{font-size: 38px;}
			}
			.kaktuz-form{padding-top: 320px;
				.mbox{padding:0px;
					.portal-form-wrap{padding-left:0px; 
						.item{
							.portal-form-wrap{ margin: 0 auto; padding-left:0px; 
								
							}
						}
					}
				}
			}
			.image-wrapper{width: 100px; margin: 0 auto;position: relative;
				img{ top: -750px; left: -360px; max-width: 626px; max-height: 458px;}
			}
		}	
	}
}