@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1088px){
    .portal-page .portal-two-image-wrap .item-title{font-size: 29px;line-height: 35px;min-height: 107px;}
}
@media screen and (max-width: 1024px){
    //portal
    .portal-page .portal-ellow .mbox .title h1{line-height: 50px;padding-top: 20px;padding-bottom: 15px;}
    .portal-page .header-tel a,.portal-form .portal-form-wrap .item.item-1 a{font-size: 24px;}
    .portal-page .header-tel a b,.portal-form .portal-form-wrap .item.item-1 a b{font-size: 35px;}
    .portal-page .header-tel a img,.portal-form .portal-form-wrap .item.item-1 a img{margin-top: 11px;}
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 840px){
    .portal-page{
        .header-tel{padding-top: 0px;flex-direction: column;align-items: center;min-height: 128px;
            a{font-size: 21px;
            &:last-child{
                img{margin-right: 10px;
                    
                }
            }
                img{margin-top: 6px;}
                span {margin-top: 9px;}
                b{font-size: 37px;}
            }
        }
        .portal-ellow{
            .mbox{min-height: 143px;
                .title{
                    h1{font-size: 29px;
                        span{font-size: 19px;}
                    }
                }
            }
        }
        .portal-two-image-wrap{flex-direction: column;align-items: center;
            .item{width: 70%;margin-bottom: 20px;
                 .item-title{min-height: 85px;}
            }
        }
        .portal-form-wrap{flex-direction: column;align-items: center;
            .item.item-1{width: 70%;}
            .item.item-2{width: 70%;}
        }
    }
    .read_post{text-align: center;}
    .footer-yellow{
        .footer-yellow-wrap{flex-direction: column;align-items: center;height: 141px;padding-top: 16px;}
    }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    .portal-page{
        .portal-form-wrap{
            .item.item-1{width: 85%;}
            
        }
    }
}
@media screen and (max-width: 479px){
        .portal-page{
            .header-portal .mbox{padding: 0 6px;}
            .header-tel{justify-content: flex-start;padding-top: 13px;align-items: center;
                a{margin: 0 2px;margin-bottom: 9px;text-align: center;
                    
                        &:last-child{
                            img{margin-right: 0px;}                            
                        }
                    
                    img{max-width: 34px;}
                    b{font-size: 35px;}
                }
            }
            .portal-ellow{
                .mbox{
                    .title{
                        h1{padding-top: 4px;padding-bottom: 0px;line-height: 35px;
                            span{line-height: 25px;display: inline-block;}
                        }
                    }
                }
            }
            .portal-two-image .mbox{padding: 0 0px}
            .portal-two-image-wrap{
                .item{width: 100%;margin-bottom: 25px;
                    &:last-child{
                        .item-title{margin-bottom: 21px;padding: 0 5px;}
                        .item-image{
                            img{height: 250px;}
                            .button{top: 72%;}
                        }
                    }
                     .item-title{min-height: 63px;font-size: 27px;line-height: 35px;
                        p{margin-bottom: 7px;}
                     }
                     .item-image{
                        img{border:none;border-radius: 0;height: 235px;object-fit: cover;margin:0 auto;display: block;}
                        .button{top: 75%;}
                     }
                }
            }
            .portal-form .mbox{padding: 0 6px;}
            .portal-form-wrap{padding-bottom: 14px;
                .item.item-1{width: 100%;
                    a{margin: 0 0px;margin-bottom: 14px;font-size: 21px;text-align: center;  
                         &:last-child{
                            img{margin-right: 0px;}                            
                        }                   
                        img{max-width: 34px;margin-top: 7px;}
                        b{font-size: 35px!important;}
                    }
                }
                .item.item-2{width: 100%;padding-top: 35px;
                    .portal-form-wrap textarea{margin-bottom: 19px;}
                    .button button{height: 87px;
                        p{padding-top: 1px;font-size: 51px;}
                    }
                }
            }
            .read_post{padding-top: 12px;
                a{flex-direction: column;}
                img{order:-1;}
                span{font-size: 26px;padding-top: 10px;margin-right: 0px;}
            }
        }
        .footer-yellow{
            .footer-yellow-wrap{height: 176px;justify-content: flex-start;padding-top: 13px;
                .item:first-child{margin-bottom: 10px;}
                .item.creator{margin-right: 0;padding-top: 34px;
                    span{display: inline-block;margin-bottom: 10px;}
                    a{flex-direction: column;
                        img{margin-left: 0;}
                    }
                }
            }
        }
}
@media screen and (max-width: 320px){

}