.icon-list{ background: url('../images/icon-list-background.jpg') no-repeat; background-size: cover; background-position: 50% 0%; font-family: 'Avantgarde';
	.mbox{padding: 60px 15px 0px;
		.list-wrapper{ display: flex;justify-content: space-between; padding-top: 25px;
			.left-list{width: 50%;padding :0px 0 0 35px;
				table{
					tr{transition: all ease-out 0.4s; min-height: 43px;max-height: 43px;
						&.animate-delay{opacity: 0;
						}
						&.animated{opacity: 1;
						}
						&:hover{
							td{
								img{transform: scale(1.2);	transition: all ease-out 0.4s;
								}
							}
						}
						td{
							&:first-child{text-align: center;padding: 0px 0px 0px 0px;
								img{ }
							}
							&:last-child{padding: 20px 0 20px 15px; font-size: 19px;
								span{font-family: 'Avantgarde';display: inline-block;vertical-align: middle;
								}
							}
						}
					}
				}
			}
			.right-list{width: 50%;padding :0px 0 0 95px;margin-top: -5px;
				table{
					tr{ transition: all 0.1s; min-height: 43px;
						&.animate-delay{opacity: 0;
						}
						&.animated{opacity: 1;
						}
						&:hover{
							td{
								img{transform: scale(1.2);	transform: scale(1.2);	transition: all 0.1s;
								}
							}
						}
						td{
							&:first-child{ text-align: center;

							}
							&:last-child{padding: 21px 0 21px 15px; font-size: 19px;
								span{display: inline-block; vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
		&>span{display: block; min-width: 36%; float: right; font-size: 16px; line-height: 1.7;}

		.low-text-conteiner{padding: 50px 0px 25px 0px; text-align: center;
			p{font-size: 31px;}
		}
		.list-wrapper-768{display: none;
			table{
				tr{
					&:hover{
							td{
								img{transform: scale(1.2);	transform: scale(1.2);	transition: all 0.1s;
								}
							}
						}
					td{
						&:first-child{text-align: center;padding: 0px 0 15px 0px;}
						&:last-child{padding: 10px 0 17px 15px; font-size: 19px;
							span{font-family: 'Avantgarde';}
						}
					}
				}
			}
		}
	}
}

//kaktuz block
.kaktuz{ background: url('../images/portal-bg.jpg'); font-family: 'Avantgarde';
	.mbox{
		header{ transition: 1.5s;
			&.animate-it{opacity: 0;
			}
			&.animated{opacity: 1;}
			h2{text-align: center; font-family: 'Avantgarde'; font-size: 75px;margin-top: 20px; margin-bottom: 30px;
				
			}
		}
		.under-header{ display: flex; justify-content: center; padding-bottom: 40px; 
			a{text-decoration: none; color: #000; font-size: 22px; line-height: 30px;margin: 0 0 0 0;
				img{}
			}
		}
		.kaktuz-form{
		    .portal-form-wrap{display: flex; padding-bottom: 20px; padding-top: 8px; padding-left: 20px;
		        .item{
		            &.item-2{width: 100%;
		                .portal-form-wrap{max-width: 460px;
		                    .portal-form-form{width: 100%;background: rgba(253, 253, 253, 0.5);  box-shadow: 0 0 20px rgba(0,0,0,0.5); padding: 20px;}
		                    textarea{width: 100%;height: 123px;font-size: 21px;padding-left: 17px;padding-top: 18px;padding-bottom: 5px;color: #000000;border:1px solid #848484;    margin-bottom: 5px;resize:none;
		                         &.error{border-color: red;}
		                    }
		                    input{display: block;width: 100%;height: 60px;font-size: 21px;padding-left: 17px;padding-top: 5px;padding-bottom: 5px;color: #000000;border:1px solid #848484;    margin-bottom: 30px;
		                        &.error{border-color: red;}
		                        &::-webkit-input-placeholder {color:#000000;}
		                        &:-moz-placeholder {color:#000000;}
		                        &::-moz-placeholder {color:#000000;}
		                        &:-ms-input-placeholder {color:#000000;}
		                    }
		                    .errorText{display: none !important;}
		                }
		            }
		        }
		    }
		}
		.image-wrapper{
			img{position: absolute; top: 121px; left: 420px;}
		}
	}
}
//kaktuz block