/* faq */

    .faq{ background-image: url(../images/faq-bg.jpg); background-size: cover; background-position: center;
        .top{text-align: center;  padding-top: 58px;
            .button{
                a{display: block; }
            }
        }
        .bottom{ padding-top: 60px; padding-bottom: 100px;
            .title{
                h2{margin: 0; text-align: center; font-size: 51px; font-family: "Avantgarde";   color: rgb(0, 0, 0); line-height: 1.2; }
            }
            ul{ list-style: none; padding: 0; max-width: 990px; margin: 0 auto; padding-top: 54px;
                li{width: 100%; margin-bottom: 8px; box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
                    .taba{height: 51px; background-color: #6c7579; color: white; padding-left: 25px; display: flex; align-items: center; justify-content: flex-start;  position: relative; cursor: pointer; font-size: 19px; font-family: "Avantgarde"; color: rgb(255, 255, 255); line-height: 1;
                        &:before{content: ''; position: absolute; right: 18px; top: calc(50% - 5px); width: 0; height: 0; border-style: solid; border-width: 5px 9px 5px 0; border-color: transparent white transparent transparent; transform: rotate(-90deg); transition: all 0.3s;}                        
                    }
                    .descript{background-color: white; padding: 45px 30px; display: none; font-size: 14px; font-family: "Avantgarde"; color: rgb(3, 4, 4); line-height: 2.223; text-align: left;}

                    &.activate{
                        .taba:before{transform: rotate(0deg); }
                    }
                }
            }
        }
    }

/* faq */

/* bot-form  */

    .bot-form {background-image: url(../images/3.jpg); background-attachment: fixed;
        .title{ padding-top: 45px; padding-bottom: 80px;
            h2{margin: 0; font-size: 63px; color: rgb(255, 255, 255);   line-height: 1; text-align: center; font-family: "Avantgarde"; font-weight: 400; }
        }
        .item-1{
            .subtitle{text-align: center; font-size: 44px; font-family: "Avantgarde"; color: rgb(255, 255, 255); line-height: 1.568;}
        }
        .item.item-1 a{color: white !important; display: block;}
        .portal-form-wrap .item.item-1 a { font: 400 36px/1.2 'Avantgarde' !important;
            b {font-size: 62px !important;}
        }
        .portal-form-wrap .item.item-2 .portal-form-wrap{
             input, textarea { background-color: transparent; border-color: white !important; border-width: 2px !important; color: white !important;
                
                &::-webkit-input-placeholder {color:white !important; }
                &:-moz-placeholder {color:white !important;opacity:1 ;}
                &::-moz-placeholder {color:white !important;opacity:1;}
                &:-ms-input-placeholder {color:white !important;}

                &.error{ border-color: red !important; 
                    &::-webkit-input-placeholder {color:red !important; }
                    &:-moz-placeholder {color:red !important;opacity:1 ;}
                    &::-moz-placeholder {color:red !important;opacity:1;}
                    &:-ms-input-placeholder {color:red !important;}
                }
             } 
        }
        .button button, .button a{border-color: #fffd33; color: black; }
        .button button p:after, .button a p:after { background-color: #fffd33;}
        .button button p:before, .button a p:before{background-color: transparent;}
    }


/* bot-form  */

/* call popup */

    #call-popup{ width: 810px; height: auto; min-height: 500px; display: flex; align-items: stretch; justify-content: flex-end; background-image: url(../images/popo.jpg); background-size: cover;
        .contact-form{ width: 50%; background-color: rgba(256,238,56, 0.8); padding: 50px 15px;
            .contact-form-title{ padding-bottom: 50px;
                h5{font-size: 44px; font-family: "Avantgarde"; color: rgb(0, 0, 0); line-height: 1.568;  text-align: center; margin: 0;}
            }
            .contact-form-row{
                input{ width: 100%; background-color: transparent; border: 2px solid black; height: 63px; margin-bottom: 15px; padding-left: 15px; font-size: 22px; font-family: "Avantgarde"; margin-bottom: 5px; 
                    &::-webkit-input-placeholder {color:black !important; }
                    &:-moz-placeholder {color:black !important;opacity:1 ;}
                    &::-moz-placeholder {color:black!important;opacity:1;}
                    &:-ms-input-placeholder {color:black!important;}

                &.error{ border-color: red !important; 
                    &::-webkit-input-placeholder {color:red !important; }
                    &:-moz-placeholder {color:red !important;opacity:1 ;}
                    &::-moz-placeholder {color:red !important;opacity:1;}
                    &:-ms-input-placeholder {color:red !important;}
                }
                }

                .errorText{display: none !important;}

            }
            .button button{ font: 400 38px/1.2 'Avantgarde'; height: 80px;
                p { padding-top: 10px;
                    span{transition:  all 0.3s; }
                }
            }
            .button button p:before, .button a p:before { background-color: transparent;}

            .button button:hover{
                p span{color: black;}
            }
        }

    }

/* call popup */