@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
    .bot-form .portal-form-wrap .item.item-1 a { font: 400 29px/1.2 'Avantgarde' !important;}
    .portal-form .portal-form-wrap .item.item-1 a b {font-size: 50px !important;} 


}
@media screen and (max-width: 1024px){

    .faq .mbox {padding: 0;}

    /* bot-form */
        .bot-form .portal-form-wrap .item.item-1 a { font: 400 23px/1.2 'Avantgarde' !important;}
        .portal-form .portal-form-wrap .item.item-1 a b {font-size: 40px !important;}
        .bot-form .item-1 .subtitle{text-align: left; margin-left: 30px; font-size: 38px;}
    /* bot-form */

}
@media screen and (max-width: 992px){

    #call-popup{ width: 320px; min-height: 0;
        .contact-form { width: 100%;padding: 30px 5px;}
    }

    #call-popup .contact-form .contact-form-title { padding-bottom: 10px;
        h5 {font-size: 34px;}
    }
    #call-popup .contact-form .button button { font: 400 35px/1.2 'Avantgarde';}
    #call-popup .contact-form .contact-form-row input {height: 57px; font-size: 20px;}


}
@media screen and (max-width: 767px){

    /* faq */
        .faq .bottom{padding-bottom: 30px;
            .title h2 {font-size: 27px; color: rgb(0, 0, 0);}
            ul { padding-top: 30px;
                li { 
                    .taba{font-size: 17px; padding-right: 20px;}
                    .taba:before { right: 9px;}
                    .descript {font-size: 14px; padding: 45px 18px; }
                }
            }
        }

        .faq{
            .phone-block .phone-row{
                a{ font-size: 21px;
                 &:last-child{
                     img{margin: 0; width: 33px;
                         
                     }
                 }
                    img {margin-top: 3px;}
                    span {margin-top: 7px;}
                    b{font-size: 37px;}

                }
            }
        }
    /* faq */

    /* bot-form */
        .bot-form .portal-form-wrap {flex-wrap: wrap !important;
            .item.item-1{width: 100% !important; }
        }
        .bot-form .portal-form-wrap .item.item-1{width: 100% !important;}

        .bot-form .contein{max-width: 500px; margin: 0 auto;}


        .bot-form .title{ padding-top: 15px; padding-bottom: 15px;
            h2{font-size: 29px; }
        }
        .bot-form .item-1 .subtitle {font-size: 27px; margin: 0; text-align: center;}
        
        .portal-form .portal-form-wrap .item.item-1 .contein a{  font: 400 21px/1.2 'Avantgarde' !important; margin-left: 0 !important; margin-right: 0 !important;
            &:last-child{
                img{margin-right: 0px!important;
                }
            }
            img { width: 33px; margin-top: 10px; }
            b{font-size: 36px !important;}
        }
        .bot-form .mbox{padding: 0;}

        .bot-form .portal-form-wrap .item.item-2 { width: 100% !important; padding: 0 5px;}

        .bot-form .portal-form-wrap .item.item-2 .portal-form-wrap input {height: 46px !important; font-size: 16px !important;}
        .bot-form .portal-form-wrap .item.item-2 .portal-form-wrap textarea{ font-size: 16px !important; }
        .bot-form .portal-form-wrap .item.item-1 a span { margin-top: 9px !important;}
        .bot-form .item-1 .subtitle{padding-bottom: 30px; padding-top: 10px;}
    /* bot-form */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

    #call-popup{ width: 280px; min-height: 0;
        .contact-form { width: 100%;padding: 30px 5px;}
    }
    #call-popup .contact-form .contact-form-title h5 {
        font-size: 29px;
    }
    #call-popup .contact-form .button button {
        font: 400 30px/1.2 'Avantgarde';
    }
    #call-popup .contact-form .button button p {
        padding-top: 15px;
    }

}
@media screen and (max-width: 320px){

}