/*header-----------------------------------------------*/

    .header-wrap { text-align: center; background-image: url(../images/2.jpg); background-attachment:fixed; background-position: center top; background-repeat:no-repeat; min-height: 1005px; padding: 25px 0 0; background-size:cover;
        .phone-block {
            a{font: 400 29px/1.2 'Avantgarde'; color: #000; text-decoration: none;
                b{font-size: 50px; vertical-align: top;}
                img{ vertical-align: top;    margin-top: 16px;}
                span{ display: inline-block;    margin-top: 13px;}
            }
            .phone-row{    margin-bottom: 9px;}
        }
        .title-block { color: #000;display: block; margin: 244px auto 0; width: 100%; max-width: 1140px; background-color: rgba(255,255,0,0.87);font: 400 57px/56px 'Avantgarde'; position: relative; border-top: 3px solid red ; padding: 14px 5px 23px;
            p{ margin: 0;}
            &:after{ content:'';position: absolute; max-width: 964px; width: 100%; height: 9px; bottom: 0; left:50%; transform: translateX(-50%); background-color: #697478;}
            .action{ width: 259px; height: 244px; background-image: url(../images/bg-action.png);font: 400 22px/1 'Avantgarde'; color: #fff;padding: 126px 10px 10px 10px; position: absolute; bottom: -224px; z-index: 10; right: 72px; transform-origin: center top; transform: rotate(-5deg);
                p{ margin: 0;
                    &:first-child{font-size:32px;    margin-bottom: 16px;}
                }
                &:hover{animation-name: bounce;  animation-duration: 0.4s; animation-timing-function: ease-out;}
            }
        }
        .form-block {margin-top: 41px; padding: 0 10px;
            input{color:#fff; font: 400 26px/67px 'Avantgarde'; border:3px solid #fff; width: 100%; max-width: 408px; margin: 0 auto 9px; background-color: rgba(0,0,0,0.2); padding-left: 15px;
                &::-webkit-input-placeholder {color:#fff;font: 400 26px/1.2 'Avantgarde';}
                &:-moz-placeholder {color:#fff;opacity:1;font: 400 26px/1.2 'Avantgarde';}
                &::-moz-placeholder {color:#fff;opacity:1;font: 400 26px/1.2 'Avantgarde';}
                &:-ms-input-placeholder {color:#fff;font: 400 26px/1.2 'Avantgarde';}
                &.error{ border-color: red;}
            }
        }
        .services {font: 400 26px/1.2 'Avantgarde'; color: #fff;max-width: 640px;padding-top: 85px;margin: 0 auto;display: flex;justify-content: space-between;
            p{ margin:0;}
            .service-row{ display: inline-block;
                &:nth-child(2){ img{margin-top: 7px;}}
                &:nth-child(3){ img{margin-top: 7px;}}
            }
            img{ vertical-align: top;}
        }
        .free{font: 400 69px/1.2 'Avantgarde'; color: #fffc00;
            p{ margin: 0;}
        }
        .errorText{ display: none!important;}
    }
    .repair{
        .header-wrap { background-image: url(../images/1.jpg);}
    }
@keyframes bounce {
    0%   {transform: rotate(-5deg);}
    12%  {transform: rotate(-1deg);}
    25%  {transform: rotate(-9deg);}
    45%  {transform: rotate(-3deg);}
    75%  {transform: rotate(-7deg);}
    100% {transform: rotate(-5deg);}
}
/*END header-----------------------------------------------*/
.button{
    button,
    a{font: 400 46px/1.2 'Avantgarde'; color: #fff; text-decoration: none; border:3px solid #3dd0bd; padding: 2px; width: 100%; max-width: 408px; height: 88px; margin: 0 auto; background-color: transparent;
        p{ width: 100%; height: 100%;  margin: 0; position: relative; background-color: transparent; overflow: hidden; transition:all 300ms; z-index:5; padding-top: 9px;
            &:before{ content: ''; display: block; position: absolute; width: 100%; height: 100%; background-color: #fff; top: 0; left: -100%; z-index: 0;transition:all 300ms;}
            &:after{ content: ''; display: block; position: absolute; width: 100%; height: 100%; background-color: #3dd0bd; top: 0; left: 0;z-index: 0;transition:all 300ms;}
            span{z-index: 10; position: relative;}

        }
        &:hover{
            p{color:#3dd0bd;
                &:before{ left: 0;}
                &:after{ left: 100%;}
            }
        }

    }
}
/*menu-----------------------------------------------*/
    nav{ height: 66px;}
    .menu  { height: 66px; background-color: #697276; width: 100%;z-index: 999;
        .mbox {max-width: 1270px;}
        .phone-block { float: left;padding-top: 11px;
            a{font: 400 17px/1.2 'Avantgarde'; color: #fff; text-decoration: none;
                img{ vertical-align: top;  width: 18px; margin-right: 6px;}
                span{ display: inline-block;  }
            }
            .phone-row{ margin-bottom: 6px;
                &:first-child{
                    img{ width: 20px;margin-top: 3px;margin-right: 1px;}
                }
            }
        }
        ul{list-style-type: none; float: left; margin: 0;padding: 24px 0 0 20px;}
        li{padding: 0 10px; position: relative; display: inline-block;
            a{font: 400 17px/1.2 'Avantgarde'; color: #fff; text-decoration: none;
                &:hover{color: #fffc00;}
            }
            &:after{ content: ''; width: 2px; height: 12px; position: absolute; background-color: #fffc00; left: -1px; bottom: 4px;}
            &:first-child{ padding-left: 0;
                &:after{ display: none;}
            }
        }
        .butter{ display: none; width: 100%; background-color: #fffc00; position: relative; text-align: center; padding-top: 3px; height: 38px; cursor: pointer;
            .line{ display: inline-block;vertical-align: top;                margin-top: 7px;
                p{ width: 23px; height: 4px; margin-bottom: 2px; margin-top: 0; background-color: #000;}
            }
            span{ margin-left: 5px;font: 400 21px/1.2 'Avantgarde'; color: #000;}
            .close-menu{ position: absolute; width: 18px; height: 18px; right: 14px; top: 8px;
                &:before,
                &:after{ content: ''; width: 25px; height: 1px; background-color: #000; display: block; position: absolute; top: 9px; left: 0;transform: rotate(0deg);transition: all 400ms;opacity:0;}
            }
            &.active{
                .close-menu{
                    &:before{transform: rotate(45deg);opacity: 1;}
                    &:after{transform: rotate(-45deg); opacity:1;}
                }
            }
        }
    }
/*END menu-----------------------------------------------*/
/*top-form-----------------------------------------------*/
    .top-form{
        .top-form-wrap{ position: relative; background-image: url(../images/bg-topform.jpg); background-position: center bottom; background-size: cover; padding-top: 441px;    padding-bottom: 69px;}
        .triangle{font-family: 'Avantgarde'; font-weight: 400; line-height: 1.2; color: #000; text-align: center; background-image: url(../images/bg-triangle.png); min-height: 407px; width: 100%; background-position: center top; background-repeat: no-repeat; position: absolute; top: 0; left: 0; background-size: cover;    padding-top: 8px;
            &:before{ content: ''; background-image: url(../images/arr-down.png); width: 31px; height: 37px; left: calc(50% - 15px); position: absolute;  bottom: 22px;
            }
            .animat{opacity: 0; transition:opacity 300ms;
                &.animated{ opacity:1;}
            }
            h2,h3,p,b{ margin: 0; font-weight:400;}
            h2{font-size: 91px}
            p{font-size:25px;}
            h3{font-size:76px;padding: 16px 0 24px;}
            .arrow{font-size: 34px;}
        }
        .form-wrap{max-width: 958px; width: 100%; margin: 0 auto; position: relative; border-radius: 2px; border: 11px solid #cecea6;padding: 54px 10px 129px; opacity: 0; transition:opacity 300ms;
            &.animated{ opacity:1;}
            textarea{font: 400 21px/1.2 'Avantgarde'; color: #000; resize: none; width: 100%; border:1px solid #656564;padding-left: 10px;height: 124px;background-color: #ffffed;}
            input{font: 400 21px/1.2 'Avantgarde'; color: #000; width: 100%; border:1px solid #656564;height: 60px;padding-left: 10px;background-color: #ffffed;
                &.error{ border-color: red;}
                  &::-webkit-input-placeholder {font: 400 21px/1.2 'Avantgarde'; color: #000;}
                            &:-moz-placeholder {font: 400 21px/1.2 'Avantgarde'; color: #000;}
                           &::-moz-placeholder {font: 400 21px/1.2 'Avantgarde'; color: #000;}
                       &:-ms-input-placeholder {font: 400 21px/1.2 'Avantgarde'; color: #000;}
            }
            .form_row{ width: 100%; display: flex; justify-content:space-between; max-width: 674px; margin: 0 auto;}
            .form_input {width: 100%; margin-bottom: 10px;
                &.half { width: 50%; margin-right: 10px;
                    &:nth-child(2n) { margin-right: 0; }
                }
            }
            .form-title{font: 400 50px/1.2 'Avantgarde'; color: #000; width: 908px; position: absolute; left: 50%; top: -40px; transform: translateX(-50%); background-color: #ffffed; text-align: center;
                p{ margin:0;}
            }
            .errorText{ display: none!important;}
            .button{ position: absolute; padding: 0 32px; background-color: #ffffed;left: 50%; bottom: -46px; transform: translateX(-50%);    width: 100%;    max-width: 472px;}
        }

    }
/*END top-form-----------------------------------------------*/


/*present-----------------------------------------------*/
    .present{ background-color: #fdfa1f;    padding-top: 22px; overflow: hidden;
        p{ margin: 0;}
        .mobile-box{ display: none; text-align: center;
            p{ margin: 0;font: 400 25px/34px 'Avantgarde';color: #000;}
            .metla{background-image: url(../images/ic-fix.png); width: 57px; height: 57px; display: inline-block;}
            .bug{background-image: url(../images/ic-bug.png); width: 60px; height: 56px; display: inline-block;}
        }
        .present-wrap{ position: relative;}
        .top-box{ color: #000; text-align: center;
            h2{font: 400 36px/1.2 'Avantgarde'; margin: 0;}
            p{font: 400 50px/45px 'Avantgarde';}
        }
        .left-box{font: 400 25px/34px 'Avantgarde';color: #000; position: absolute; width: 50%;right: 100%; text-align: right;padding-right: 160px; top: 111px; transition: all 400ms; opacity: 0;
            &.animated{ opacity:1; right: 50%;}
            p{max-width: 200px; float: right }
            &:before{ content: ''; display: block; position: absolute; background-image: url(../images/ic-fix.png); width: 57px; height: 57px; top: 45px;  right: 260px;}
            .arrow{ width: 100%; height: 5px; background-color: #697478; position: absolute; right: 364px; top: 16px;
                &:before{ content: ''; position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; border-width: 11.5px 20px; border-left-color: #697478; top: -9px; left: 100%;}
            }
        }
        .right-box{font: 400 25px/34px 'Avantgarde';color: #000;position: absolute; width: 50%; left: 100%;padding-left: 109px; top: 111px;transition: all 400ms; opacity: 0;
            &.animated{ opacity:1; left: 50%;}
            p{max-width: 265px; }
            &:before{ content: ''; display: block; position: absolute; background-image: url(../images/ic-bug.png); width: 60px; height: 56px; top: 41px; left: 258px;}
            .arrow{ width: 100%; height: 5px; background-color: #697478; position: absolute; left: 397px; top: 16px;
                &:before{ content: ''; position: absolute; display: block; width: 0; height: 0; border-style: solid; border-color: transparent; border-width: 11.5px 20px; border-right-color: #697478; top: -9px; right: 100%;}
            }
        }
        .bottom-box{color: #e01c30; font: 400 41px/1.2 'Avantgarde'; position: relative; text-align: center;    padding: 123px 0 31px;transition: all 400ms; opacity: 0;
            &.animated{ opacity:1; }
            &:before{ content: ''; background-image: url(../images/ic-present.png); width: 82px; height: 93px; position: absolute; top: 16px; left:calc(50% - 41px);}
            &:after{content: ''; background-image: url(../images/shadow.png); width: 250px; height: 86px; position: absolute; bottom: 76px; left:calc(50% - 125px);}
        }
    }
    .gray-pesent{
        .present{ background-color: #697276;
            .top-box{color: #fffc00;}
            .left-box{ color: #fff; top: 142px; padding-right: 138px;
                p{max-width: 268px;}
                &:before{ background-image: url(../images/ic-fix2.png); top: -8px; right: 407px;}
                .arrow{display: none;}
            }
            .right-box{ color: #fff;top: 142px; padding-left: 138px;
                p{ text-align: right;}
                &:before{ background-image: url(../images/ic-bug2.png); top: 4px; left: 419px;}
                .arrow{ display: none;}
            }
            .bottom-box{ color: #fff;
                &:before{ background-image: url(../images/ic-present2.png);}
            }
            .mobile-box{
                p{ color: #fff;}
                .metla{background-image: url(../images/ic-fix2.png); }
                .bug{background-image: url(../images/ic-bug2.png);}
            }
        }
    }


/*END present-----------------------------------------------*/
/*brends-----------------------------------------------*/
    .brends{ background-image: url(../images/bg-brends.jpg); min-height: 920px; background-size:cover; background-repeat: no-repeat; background-position: center top;overflow: hidden;
        .brends-wrap{
            .title{ text-align: center;padding: 40px 0 190px;     position: relative;
                z-index: 9;
                h2{ margin: 0;font: 400 74px/1.2 'Avantgarde'; color: #000;}
            }
            .logo-wrap{ position: relative; width: 408px; height: 408px; margin: 0 auto;
                .item { position: absolute; opacity: 0; transition: all 300ms;
                    img{max-width: none;}
                    &.animated { opacity: 1;}
                }
                .num01{    left: -622px;  top: -529px;}
                .animated.num01{    left: -122px;  top: -29px;}
                .num02{left: -340px; top: -599px;}
                .animated.num02{left: -40px; top: -99px;}
                .num03{ left: 102px; top: -618px;}
                .animated.num03{ left: 102px; top: -118px;}
                .num04{ left: 645px; top: -599px;}
                .animated.num04{ left: 345px; top: -99px;}
                .num05{ left: 907px; top: -326px;}
                .animated.num05{ left: 407px; top: -26px;}
                .num06{ left: 998px; top: 140px;}
                .animated.num06{ left: 498px; top: 140px;}
                .num07{ left: 896px; top: 646px;}
                .animated.num07{ left: 396px; top: 346px;}
                .num08{ left: 871px; top: 989px;}
                .animated.num08{ left: 371px; top: 489px;}
                .num09{ left: 64px; top: 975px;}
                .animated.num09{ left: 64px; top: 475px;}
                .num10{ left: -585px; top: 998px;}
                .animated.num10{ left: -85px; top: 498px;}
                .num11{ left: -652px; top: 615px;}
                .animated.num11{ left: -152px; top: 315px;}
                .num12{ left: -770px; top: 129px;}
                .animated.num12{ left: -270px; top: 129px;}

            }
        }
    }
/*END brends-----------------------------------------------*/

