<section class="brends" id="brends">
    <div class="brends-wrap">
        <div class="title">
            <h2>Работаем с любой маркой</h2>
        </div>
        <div class="logo-wrap section-animate">
            <div class="item animate-delay num01"><img src="images/item01.png" alt=""></div>
            <div class="item animate-delay num02"><img src="images/item02.png" alt=""></div>
            <div class="item animate-delay num03"><img src="images/item03.png" alt=""></div>
            <div class="item animate-delay num04"><img src="images/item04.png" alt=""></div>
            <div class="item animate-delay num05"><img src="images/item05.png" alt=""></div>
            <div class="item animate-delay num06"><img src="images/item06.png" alt=""></div>
            <div class="item animate-delay num07"><img src="images/item07.png" alt=""></div>
            <div class="item animate-delay num08"><img src="images/item08.png" alt=""></div>
            <div class="item animate-delay num09"><img src="images/item09.png" alt=""></div>
            <div class="item animate-delay num10"><img src="images/item10.png" alt=""></div>
            <div class="item animate-delay num11"><img src="images/item11.png" alt=""></div>
            <div class="item animate-delay num12"><img src="images/item12.png" alt=""></div>
        </div>
    </div>
</section>