<section class="faq" id="faq">
    <div class="conteiner">
        <div class="mbox">
            <div class="top">
                <div class="phone-block">
                    <div class="phone-row">
                        <a class="cfix" href="tel:+375(29)6701401"><img src="images/ic-velcom.png" alt=""> <span>&nbsp;+375 (29) </span><b> 670 14 01</b></a>
                    </div>
                    <div class="phone-row">
                        <a class="cfix" href="tel:+375(29)7750911"><img src="images/ic-mtc.png" alt=""><span>&nbsp; +375 (29)</span><b> 775 09 11</b></a>
                    </div>
                </div>
                <div class="button">
                    <a href="#call-popup" class="fancybox-form"> <p><span>заказать звонок</span></p> </a>
                </div>
                
            </div>
            <div class="bottom">
                <div class="title">
                    <h2>Часто задаваемые вопросы:</h2>
                </div>
                <ul>
                    <li>
                        <div class="taba"><span>Как быстро приедет инженер?</span></div>
                        <div class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident!</div>
                    </li>
                    <li>
                        <div class="taba"><span>Что если компьютер сломается сразу после ремонта?</span></div>
                        <div class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident!</div>
                    </li>
                    <li>
                        <div class="taba"><span>Сколько стоит ремонт?</span></div>
                        <div class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident!</div>
                    </li>
                    <li>
                        <div class="taba"><span>Какой у вас опыт работы?</span></div>
                        <div class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fuga ullam officiis culpa esse quas. Repellendus nisi perferendis corporis velit hic voluptatum, iure nobis voluptas doloribus perspiciatis excepturi ut provident!</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    

</section>