<section class="faq" id="faq">
    <div class="conteiner">
        <div class="mbox">
            <div class="top">
                <div class="phone-block">
                    <div class="phone-row">
                        <a class="cfix" href="tel:+375(29)6701401"><img src="images/ic-velcom.png" alt=""> <span>&nbsp;+375 (29) </span><b> 670 14 01</b></a>
                    </div>
                    <div class="phone-row">
                        <a class="cfix" href="tel:+375(29)7750911"><img src="images/ic-mtc.png" alt=""><span>&nbsp; +375 (29)</span><b> 775 09 11</b></a>
                    </div>
                </div>
            </div>
            <div class="bottom"></div>
        </div>
    </div>

    

</section>