<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <nav class="desctop">
        <div class="menu bottom">
            <div class="mbox cfix">


                <ul>
                    <li><a href="#">Ремонт компьютеров </a></li>
                    <li><a href="#">Установка Windows/программ</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Что мы делаем</a></li>
                    <li><a href="#">Ваши вопросы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Блог</a></li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="footer-yellow">
        <div class="mbox">
            <div class="footer-yellow-wrap">
                <div class="item">
                    ИП ...
                </div>
                <div class="item">
                    УНП 190818190
                </div>
                <div class="item creator">
                    <a href="#" target="_blank">
                        <span>Создание сайта</span>
                        <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

//= scripts.html
