<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <nav class="desctop">
        <div class="menu bottom">
            <div class="mbox cfix">


                <ul>
                    <li><a href="#">Ремонт компьютеров </a></li>
                    <li><a href="#">Установка Windows/программ</a></li>
                    <li><a href="#">Цены</a></li>
                    <li><a href="#">Что мы делаем</a></li>
                    <li><a href="#">Ваши вопросы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Блог</a></li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="footer-yellow">
        <div class="mbox">
            <div class="footer-yellow-wrap">
                <div class="item">
                    ИП ...
                </div>
                <div class="item">
                    УНП 190818190
                </div>
                <div class="item creator">
                    <a href="#" target="_blank">
                        <span>Создание сайта</span>
                        <img src="images/footer-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
