<!-- HEADER -->
<header>
    <div class="header-wrap">
        <div class="phone-block">
            <div class="phone-row">
                <a class="cfix" href="tel:+375(29)6701401"><img src="images/ic-velcom.png" alt=""> <span>&nbsp;+375 (29) </span><b> 670 14 01</b></a>
            </div>
            <div class="phone-row">
                <a class="cfix" href="tel:+375(29)7750911"><img src="images/ic-mtc.png" alt=""><span>&nbsp; +375 (29)</span><b> 775 09 11</b></a>
            </div>
        </div>
        <div class="title-block">
            <p>   Установка/переустановка Windows, антивирусов, любых программ. </p>
            <div class="action"><p>15% скидка</p><p> при заказе с этой формы</p></div>
        </div>
        <div class="new-bg">
            <div class="form-block">
                <form action="ajax.php" name="" id="tel-form" class="tel-form">
                    <div class="form_row">
                        <div class="form_input">
                            <input class="tel-mask" type="tel" name="tel" required="required" value="" placeholder="телефон">
                        </div>
                    </div>
                    <div class="button"><button><p><span>заказать звонок</span></p></button></div>
                </form>
            </div>
            <div class="services">
                <div class="service-row">
                    <p><img src="images/ic-header01.png" alt=""><span>&nbsp;консультация</span></p>
                </div>
                <div class="service-row">
                    <p><img src="images/ic-header02.png" alt=""><span>&nbsp;выезд</span></p>
                </div>
                <div class="service-row">
                    <p><img src="images/ic-header03.png" alt=""><span>&nbsp;диагностика</span></p>
                </div>
            </div>
            <div class="free">
                <p>бесплатно</p>
            </div>
        </div>


    </div>
</header>
<!-- /HEADER -->

