<section class="icon-list " id="icon-list">
	<div class="mbox">
		<div class="list-wrapper desctop">
			<div class="left-list section-animate">
				<table>
					<tr class="animate-delay">
						<td class="">
							<img src="images/icon-list-1.png">
						</td>
						<td>				
							<span>Не включается компьютер/ноутбук?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-2.png">
						</td>
						<td>
							<span>Нет изображения на ноутбуке/мониторе?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-3.png">
						</td>
						<td>
							<span>Ноутбук не заряжается или быстро разряжается?</span>
						</td>						
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-4.png">
						</td>
						<td>
							<span>Не работает клавиатура?</span>
						</td>						
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-5.png">
						</td>
						<td>
							<span>Шумит системный блок?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-6.png">
						</td>
						<td>
							<span>Сильно нагревается?</span>
						</td>

					</tr class="animate-delay">
					<tr class="animate-delay">
						<td>	
							<img src="images/icon-list-7.png">
						</td>
						<td>
							<span>Жутко тормозит?</span>
						</td>
					</tr>
				</table>
			</div>	
			<div class="right-list section-animate">
				<table>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-8.png">
						</td>
						<td>
							<span>Пора переустановить Windows?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-9.png">
						</td>
						<td>
							<span>Не читает диски?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-10.png">
						</td>
						<td>
							<span>Не слышно звука?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-11.png">
						</td>
						<td>
							<span>Не работает камера?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-12.png">
						</td>
						<td>
							<span>Подцепили вирус? </span>
						</td>							
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-13.png">
						</td>
						<td>
							<span>Нужно восстанвить удаленные файлы?</span>
						</td>
					</tr>
					<tr class="animate-delay">
						<td>
							<img src="images/icon-list-14.png">
						</td>
						<td>
							<span>Нужно настроить или провести сеть/WiFi?</span>
						</td>
					</tr>					
				</table>
			</div>				
		</div>
		<div class="list-wrapper-768">
			<table>
					<tr>
						<td>
							<img src="images/icon-list-1.png">
						</td>
						<td>				
							<span>Не включается компьютер/ноутбук?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-2.png">
						</td>
						<td>
							<span>Нет изображения на ноутбуке/мониторе?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-3.png">
						</td>
						<td>
							<span>Ноутбук не заряжается или быстро разряжается?</span>
						</td>						
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-4.png">
						</td>
						<td>
							<span>Не работает клавиатура?</span>
						</td>						
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-5.png">
						</td>
						<td>
							<span>Шумит системный блок?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-6.png">
						</td>
						<td>
							<span>Сильно нагревается?</span>
						</td>

					</tr>
					<tr>
						<td>	
							<img src="images/icon-list-7.png">
						</td>
						<td>
							<span>Жутко тормозит?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-8.png">
						</td>
						<td>
							<span>Пора переустановить Windows?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-9.png">
						</td>
						<td>
							<span>Не читает диски?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-10.png">
						</td>
						<td>
							<span>Не слышно звука?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-11.png">
						</td>
						<td>
							<span>Не работает камера?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-12.png">
						</td>
						<td>
							<span>Подцепили вирус? </span>
						</td>							
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-13.png">
						</td>
						<td>
							<span>Нужно восстанвить удаленные файлы?</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/icon-list-14.png">
						</td>
						<td>
							<span>Нужно настроить или провести сеть/WiFi?</span>
						</td>
					</tr>					
				</table>
		</div>
		<span>
			и многое многое другое!
		</span>
		<div class="low-text-conteiner">
			<p>Через час ваш компьютер будет работать лучше нового!</p>
		</div>
	</div>
</section>