<section class="map" id="map">
    <div class="map-block">

        <div class="img-block">
            <div class="minsk-map">
                <img src="images/minsk-map.png" alt="" />
            </div>
            <div class="point-block">
                <div class="point-text1">Выезжаем в</div>
                <div class="point-text2">любую</div>
                <div class="point-text3">точку</div>
                <div class="point-text4">
                    Минска <span>и</span>
                </div>
                <div class="point-text5">Минского</div>
                <div class="point-text6">района</div>
            </div>
        </div>

        <div class="garanty-text">Даем гарантию до <img src="images/garanty-img.png" alt="" /> лет!</div>

        <div class="man-block">
            <div class="man-img">
                <img src="images/man-img.png" alt="" />
            </div>
            <div class="man-text"> Решим любую проблему:</div>
        </div>

    </div>
</section>