<section class="map" id="map">
    <div class="map-block">

        <div class="img-block section-animate">

            <div class="minsk-map animate-delay">
                <img src="images/minsk-map.png" alt="" />
            </div>

            <div class="point-block animate-delay">
                <div class="point-text1">Выезжаем в</div>
                <div class="point-text2">любую</div>
                <div class="point-text3">точку</div>
                <div class="point-text4">
                    Минска <span>и</span>
                </div>
                <div class="point-text5">Минского</div>
                <div class="point-text6">района</div>
            </div>

        </div>

        <div class="garanty-text section-animate"><span class="animate-delay">Даем гарантию </span><span class="animate-delay"> до <img src="images/garanty-img.png" alt="" /> лет!</span></div>

        <div class="man-block section-animate">
            <div class="man-img animate-delay">
                <img src="images/man-img.png" alt="" />
            </div>
            <div class="man-text animate-delay"> Решим любую проблему:</div>
        </div>

    </div>
</section>