<nav>
    <div class="menu top">
        <div class="mbox cfix">
            <div class="phone-block">
                <div class="phone-row">
                    <a class="cfix" href="tel:+375(29)6701401"><img src="images/ic-velcom.png" alt=""> <span>+375 (29)  670 14 01</span></a>
                </div>
                <div class="phone-row">
                    <a class="cfix" href="tel:+375(29)7750911"><img src="images/ic-mtc.png" alt=""><span>+375 (29) 775 09 11</span></a>
                </div>
            </div>
            <div class="butter">
                <div class="line"><p></p><p></p><p></p></div><span>меню</span>
                <div class="close-menu"></div>
            </div>
            <ul>
                <li><a href="#">Ремонт компьютеров </a></li>
                <li><a href="#">Установка Windows/программ</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Что мы делаем</a></li>
                <li><a href="#">Ваши вопросы</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Блог</a></li>

            </ul>

        </div>
    </div>
</nav>