<section class="practics" id="practics">
    <div class="title">
        <h2>Последние случаи из практики</h2>
    </div>
    <div class="practitcs-wrap desctop section-animate">
        <div class="row-items animate-delay">
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>сильно греется ноутбук (вплоть до
                            самоотключения)	</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>чистка системы охлаждения с заменой термопроводящего состава</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>выезд в течение часа, работа по чистке системы охлаждения занимает около 2-х часов времени</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>30-35 руб.</b> в зависимости от обьема работ по конкретному аппарату</p></td>
                    </tr>
                </table>
            </div>
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>отсутствует, либо не загружается windows/
                            нестабильно работает </p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>установка windows с полным пакетом ПО, антивирусной и антитроянской защитой</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>4 месяца гарантии, ключ антивируса на
                            3 года,  подержка в поддержании
                            безопасного состояния системы. Работа по настройке длится около 1ч:15 мин</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>от 25 руб.</b> В зависимости от
                            специфики аппаратной части и пожеланий
                            пользователя. В среднем <b>30 руб.</b></p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row-items animate-delay">
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>постоянно всплывающая реклама в
                            браузерах, появились незнакомые
                            программы, тормозит</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>очистка системы и браузеров от вирусов и троянских модулей, профилактика</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>~55 минут. В исключительных ситуациях более одного часа</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>25 руб.</b> + утилиты для самостоятельного поддержания системы в безопасном и макс. производительном состоянии.
                            Рекомендации.</p></td>
                    </tr>
                </table>
            </div>
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>черный экран компьютера / синий экран с ошибкой / на кнопку включения питания
                            не реагирует</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>диагностика и устранение неполадок, с заменой либо без замены деталей</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>4-12 месяцев гарантии на услуги.
                            От 1-2 лет на комплектующие</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>250 руб.</b> полная диагностика с
                            устранением. В случае с  аппаратным
                            ремонтом / заменой цена оговаривается
                            отдельно.</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="practitcs-wrap mobile section-animate">

            <div class="item active">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>сильно греется ноутбук (вплоть до
                            самоотключения)	</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>чистка системы охлаждения с заменой термопроводящего состава</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>выезд в течение часа, работа по чистке системы охлаждения занимает около 2-х часов времени</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>30-35 руб.</b> в зависимости от обьема работ по конкретному аппарату</p></td>
                    </tr>
                </table>
            </div>
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>отсутствует, либо не загружается windows/
                            нестабильно работает </p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>установка windows с полным пакетом ПО, антивирусной и антитроянской защитой</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>4 месяца гарантии, ключ антивируса на
                            3 года,  подержка в поддержании
                            безопасного состояния системы. Работа по настройке длится около 1ч:15 мин</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>от 25 руб.</b> В зависимости от
                            специфики аппаратной части и пожеланий
                            пользователя. В среднем <b>30 руб.</b></p></td>
                    </tr>
                </table>
            </div>

            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>постоянно всплывающая реклама в
                            браузерах, появились незнакомые
                            программы, тормозит</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>очистка системы и браузеров от вирусов и троянских модулей, профилактика</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>~55 минут. В исключительных ситуациях более одного часа</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>25 руб.</b> + утилиты для самостоятельного поддержания системы в безопасном и макс. производительном состоянии.
                            Рекомендации.</p></td>
                    </tr>
                </table>
            </div>
            <div class="item">
                <table>
                    <tr>
                        <td><img src="images/table01.png" alt=""><p>Проблема </p></td>
                        <td><p>черный экран компьютера / синий экран с ошибкой / на кнопку включения питания
                            не реагирует</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table02.png" alt=""><p>Решение</p></td>
                        <td><p>диагностика и устранение неполадок, с заменой либо без замены деталей</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table03.png" alt=""><p>Время</p></td>
                        <td><p>4-12 месяцев гарантии на услуги.
                            От 1-2 лет на комплектующие</p></td>
                    </tr>
                    <tr>
                        <td><img src="images/table04.png" alt=""><p>Стоимость</p></td>
                        <td><p><b>250 руб.</b> полная диагностика с
                            устранением. В случае с  аппаратным
                            ремонтом / заменой цена оговаривается
                            отдельно.</p></td>
                    </tr>
                </table>
            </div>
            <div class="button-more">
                <div class="click">показать еще</div>
            </div>

    </div>
</section>