<section class="present" id="present">
    <div class="present-wrap section-animate">
        <div class="top-box">
            <h2> При заказе любой услуги</h2>
            <p>до июля</p>
        </div>
        <div class="left-box animate-delay coin">
            <p>программная
                чистка</p>
            <div class="arrow"></div>
        </div>
        <div class="right-box animate-delay coin">
            <p>+ защита от троянов/
                фишинга </p>
            <div class="arrow"></div>
        </div>
        <div class="bottom-box animate-delay coin">
            <p>в подарок! </p>
        </div>
    </div>
</section>