<section class="top-form" id="top-form">
        <div class="top-form-wrap section-animate">
            <div class="triangle">
                <div class="animat animate-delay">
                    <h2>Нет переплатам!</h2>
                    <p>Делаем только то, что действительно необходимо.</p>
                    <p>Кристальная репутация честности уже более 15 лет! </p>
                    <h3>Оплата по факту</h3>
                    <div class="arrow" >убедитесь сами</div>
                </div>


            </div>
            <div class="top-form-bg">
                <div class="form-wrap animate-delay">
                    <form action="ajax.php" name="" class="tel-form2">
                        <div class="form-title">
                            <p>Получите расчет стоимости работ</p>
                        </div>
                        <div class="form_row">
                            <div class="form_input half">
                                <input  type="text" name="name" required="required" value="" placeholder="имя">
                            </div>
                            <div class="form_input half">
                                <input class="tel-mask" type="tel" name="tel" required="required" value="" placeholder="телефон">
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="form_input">
                                <textarea name="message" required="required" value="" placeholder="что случилось?"></textarea>
                            </div>
                        </div>
                        <div class="button"><button><p><span>отправить</span></p></button></div>
                    </form>
                </div>
            </div>
        </div>
</section>